::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    @apply bg-gray-300;
}
::-webkit-scrollbar-thumb:window-inactive {
    @apply bg-transparent;
}

.scrollbar-disable {
    scrollbar-width: 'none';
}

.scrollbar-disable::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
