.profile-action-panel {
    background-image: none;
}

@media (min-width: 768px) {
    .profile-action-panel {
        background-image: url(/assets/images/profile/complete-your-profile.svg);
        background-position-x: 105%;
        background-position-y: 40%;
        background-repeat: no-repeat;
        background-size: 30%;
    }
}
